@media only screen and (max-width:1160px) {
    
}

@media only screen and (max-width:992px) {
    .container{
        /* display: none; */
        width: 100%;
        padding: 0 20px;
    }
    header{
        background-size: cover;
    } 
    .nav-li a
    {
        font-size: 20px;
    }
   
}


@media only screen and (max-width:768px) {
    .nav-ul{
        display: none;
    }
    .logo-icon .bar{
        display: block;
    }
    .logo-icon .search{
        display: none;
    }
    .header-main .header-p{
        width: 70%;
    }
    .sec1-text .para-text{
        width: 90%;
    }
    .card-sec .row{
        display: block;
    }
    .card-sec .row .col {
        width: 50%;
        margin: 0 auto;
    }
    .sec2 .row{
        display: flex;
        flex-direction: column;
    }
    .sec2 .row .col{
        width: 50%;
        margin: 0 auto;
    }
    .sec2 .sec2-text .btn{
        margin-left: 20px;
    }
    .sec2 .wrap-sec3 .row{
       
        flex-direction: column-reverse;
    }
    .footer .row {
        display: block;   
    }
    .footer .row .col-4 {
        margin: 0 auto;  
    }
    .footer .row .col-6 {
        margin: 0 auto;  
    }
    .footer .row .col {
        margin: 0 auto;  
    }
    .footer .col-4 p{
        width: 100%;
    }
}


@media only screen and (max-width:576px) {
    .card-sec .row .col {
        width: 90%;
    }
    .sec2 .row .col{
        width: 70%;
    }
}
