.btn {
  padding: 10px 20px;
  background-color: lightcoral;
  color: white;
  transition: 0.5s;
}
.btn:hover {
  background-color: #202020;
}
.btn2 {
  padding: 10px 20px;
  background-color: lightcoral;
  color: white;
  transition: 0.5s;
}
.btn2:hover {
  background-color: #202020;
}
.btn3 {
  padding: 20px;
  background-color: red;
  color: white;
  transition: 0.5s;
}
.btn3:hover {
  background-color: #1ce04d;
}
